@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');

/**color scheme: catppuccin mocha**/
:root {
  --dark: #1e1e2e; 
  --accent-a: #f38ba8;
  --accent-b: #94e2d5;
  --fontfamily: 'Hina Mincho', serif;
  --fontcolor-a: #89b4fa;
  --fontcolor-b: #cdd6f4;
}

body {
  background-color: var(--dark);
  font-family: var(--fontfamily);
  margin: 35px;
  font-size: 14px;
  max-width: fit-content;
}

h1 {
  padding: 10px 10px 10px 10px;
  margin: auto;
  margin-top: 35px;
  width: 500px;
  background-color: var(--dark);
  font-size: 25px;
  font-style: italic;
  letter-spacing: 2px;
  color: var(--accent-a);
}

.container {
  padding: 20px 0px 0px 0px;
  margin: auto;
  width: 500px;
  height: auto;
  border-top: none;
}

.subcontainer {
  color: var(--accent-a);
  letter-spacing: 2px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 15px;
}

li {
  padding: 8px;
  letter-spacing: 2px;
}

a {
  color: var(--fontcolor-b);
  text-decoration: none;
}

a:hover {
  color: var(--accent-a);
  text-decoration: underline;
  cursor: help;
  transition: color 0.5s ease;
  font-style: italic;
}

b {
  color: var(--accent-a);
}

.finish {
  margin: auto;
  width: 500px;
  height: auto;
  margin: auto;
  width: 500px;
  height: auto;
  color: var(--fontcolor-a);
  font-style: italic;
  font-size: 15px;
}

.source {
  margin: auto;
  width: 500px;
  height: auto;
  color: var(--fontcolor-a);
  font-size: 15px;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background: var(--accent-a);
  color: var(--dark);
  }
  
  ::-moz-selection {
  background: var(--accent-a);
  color: var(--dark);
  }
  
/* style-my-tootltips plugin, tooltip styling */
#s-m-t-tooltip{

  /* basic */
  max-width:375px;
  z-index:10;
  margin:24px 14px 7px 12px;

  /* style and design */
  padding: 15px;
  background: var(--accent-a); /* fallback if rgba not supported */
  background: rgb(218, 38, 77), 71%, 50%);
  -moz-box-shadow: 2px 2px 0 rgba(0,0,0,0.15);
  -webkit-box-shadow:2px 2px 0 rgba(0,0,0,0.15));
  box-shadow:2px 2px 0 rgba(0,0,0,0.15);
  outline: 1px solid white;
  outline-offset: -4px;
  
  /* font */
  font-family: var(--fontfamily);
  font-style: italic;
  font-size:11px;
  letter-spacing: 1px;
  line-height:16px;
  color: var(--fontcolor-b);
}