@font-face {
  font-family: "SimSun";
  src: url(/resources/fonts/simsun.ttf);
}

/**color scheme: catppuccin mocha**/
/* :root {
  --dark: #1e1e2e; 
  --accent-a: #f38ba8;
  --accent-b: #94e2d5;
  --fontfamily: 'Hina Mincho', serif;
  --fontcolor-a: #89b4fa;
  --fontcolor-b: #cdd6f4;
} */

/**color scheme: HSR刃**/
:root {
  --dark: #0a1017; 
  --accent-a: #b63b1d;
  --accent-b: #72667e;
  --fontcolor-a: #4d93a1;
  --fontcolor-b: #f2f3ee;
  --textsize: 15px;
}

body {
  background-color: var(--dark);
  font-family: "SimSun";
  min-width: 600px;
  max-width: 1000px;
  width: 100%;
  margin: 35px;
  font-size: var(--textsize);
  min-height: 100px;
  max-height: 500px;
}

h1 {
  padding: 10px;
  margin: auto;
  width: 50%;
  background-color: var(--dark);
  font-size: 25px;
  font-style: italic;
  letter-spacing: 2px;
  color: var(--accent-a);
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 15px;
}

li {
  padding: 8px;
  letter-spacing: 2px;
}

a {
  color: var(--dark);
  text-decoration: none;
  background-color: var(--accent-a);
  font-size: var(--textsize);
}

a:hover {
  color: var(--fontcolor-b);
  text-decoration: line-through;
  cursor: help;
  transition: color 0.5s ease;
  font-style: italic;
}

b {
  color: var(--accent-a);
}

.container {
  padding: 20px 0px 0px 0px;
  margin: auto;
  width: 50%;
  height: auto;
  border-top: none;
}

.subcontainer {
  color: var(--accent-b);
  letter-spacing: 2px;
  text-decoration: none;
}

.finish {
  margin: auto;
  width: 50%;
  height: auto;
  color: var(--fontcolor-a);
  font-style: italic;
  font-size: var(--textsize);
}

.source {
  margin: auto;
  width: 50%;
  height: auto;
  color: var(--fontcolor-a);
  font-size: var(--textsize);
}

.footer {
  padding: 300px 0px 0px 0px;
  margin: auto;
  width: 50%;
  font-size: 10px;
  color: var(--fontcolor-b);
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background: var(--fontcolor-a);
  color: var(--dark);
  }
  
  ::-moz-selection {
  background: var(--fontcolor-a);
  color: var(--dark);
  }
  
/* style-my-tootltips plugin, tooltip styling */
#s-m-t-tooltip{

  /* basic */
  max-width:375px;
  z-index:10;
  margin:24px 14px 7px 12px;

  /* style and design */
  padding: 15px;
  background: var(--accent-a); /* fallback if rgba not supported */
  background: rgb(218, 38, 77), 71%, 50%);
  box-shadow:2px 2px 0 rgba(0,0,0,0.15);
  outline: 1px solid white;
  outline-offset: -4px;
  
  /* font */
  font-family: "SimSun";
  font-style: italic;
  font-size:11px;
  letter-spacing: 1px;
  line-height:16px;
  color: var(--fontcolor-b);
}