@import url(/resources/css/main.css);

blockquote {
  padding: 10px;
  color: var(--accent-b);
  margin: auto;
  width: 50%;
}

p {
  padding: 10px;
  margin: auto;
  width: 50%;
}

ol {
  padding: 10px 0px 0px 50px;
  margin: auto;
  width: 50%;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 10px;
  width: 50%;
}

li {
  padding: 10px;
}

.update {
  padding: 5px;
  margin: auto;
  font-size: 10px;
  color: var(--fontcolor-a);
}

.update:hover {
  font-style: italic;
}

.links {
  padding: 10px;
  margin: auto;
  width: 50%;
  font-size: 9px;
}